
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Dancing+Script&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Lexend+Deca:wght@100&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;1,100;1,200;1,400&family=Roboto:ital,wght@1,100&family=Square+Peg&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
}
@media screen and (max-width: 1336px) and (min-width: 766px) {
    
}
.header{
    display: flex;
    margin: auto;
}
.header-text{
    font-weight: 400;
    text-align: center ;
    padding-top: 70px
    
}

span{
    color: #FA1E0E;
}

a{
    text-decoration: none;
    color: #FA1E0E;
}

.header-content{
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 40%;
    margin: 30px auto 290px; 
    padding-bottom: 20px;
    justify-content: center;
}

h1{
    margin: 30px auto;
    font-family: poppins;
    font-weight: normal;
    color: #423027;

}

p{
    font-size: 15px;
}

.head-con{
    max-width: 90%;
    display: flex;
    margin: auto;
}
.header-btn{
    margin: 30px auto 0;
}

.first-btn{
    background-color: #FA1E0E;
    color: white;
    padding: 15px 50px;
}
.first-btn:hover{
    background-color: whitesmoke;
    color: #FA1E0E;
}

button{
    margin: 40px 10px;
    padding: 15px 30px;
    border: 1px solid #FA1E0E;
    cursor: pointer;
    color: #FA1E0E;
    font-size: 15px;

}
button:hover{
    color: white;
    background-color: #FA1E0E;
}
.break{
    text-align: center;
    font-size: 14px;
}
h3{
    font-weight: 500;
    color: #FA1E0E;
}


.content-1{
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    max-width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

/* img{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 80%;
    left: 15%;

} */
.menu{
    display: flex;
    max-width: 70%;
    margin: 90px auto 0;
    justify-content: space-evenly;
    z-index: 3;
}

.menu-1{
    padding: 40px 60px;
    text-align: left;
    text-overflow: ellipsis;
    background-color: #fcfafa;
    margin: 0 10px 0 10px;
}

.container-3{
    display: flex;
    max-width: 70%;
    margin:200px auto 0;
    justify-content: space-between;
}

h4{
    padding: 50px 0px 50px 7px ;
    max-width: 50%;
    font-size: 14px;
    background-color: white;
}

.p-tag{
    margin-top: 40px;
    font-family: extralight 200;
}

.a-tag{
    margin-top: 10px;
}

.con-1{
    padding: 50px 10px;
    margin: 30px 20px;
    line-height: 30px;
}

hr{
    margin: 70px auto 40px;
    max-width: 70%;

}
.zuri{
    color: black;
}

h5{
    margin: 20px auto 120px;
    font-size:16px;
    text-align: center;
    font-weight: 400;
    font-family: ExtraLight 200;
}

.contact{
    margin-top: -40px;
    background-color: ;
}
.email-1{
    margin-top: 20px;
}
i{
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.social-1{
    color: #5800FF;
}

.social-2{
    color: #2FA4FF;
}

.social-3{
    color: #D22779;
}
.social-4{
    color: #0096FF;
}

@media only screen and (min-width: 500px) {
    .header-content{
        max-width: 70%;
    }

    .menu-1{
        max-width: 90%;
    }

    .p-tag{
        height: 500px;
    }
}